@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;600&display=swap");
@import "tailwindcss";

@theme {
  --color-cm-green-200: hsl(148, 38%, 91%);
  --color-cm-green-600: hsl(169, 82%, 27%);
  --color-cm-red: hsl(0, 66%, 54%);
  --color-cm-gray-500: hsl(186, 15%, 59%);
  --color-cm-gray-900: hsl(187, 24%, 22%);
  --animate-enter: enter 100ms ease-in-out forwards;
  --animate-leave: leave 100ms ease-in-out forwards;
}

@keyframes enter {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes leave {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(10px);
  }
}
@layer base {
  body,
  html {
    height: 100%;
  }
  body {
    font-family: "Karla", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--color-cm-gray-900);
    background-color: var(--color-cm-green-200);
    display: grid;
    place-content: center;
  }
  label {
    @apply block cursor-pointer;
  }
  label span {
    @apply text-cm-green-600;
  }
  /* label {
    margin-bottom: 0.5rem;
  } */
  input[type="text"],
  input[type="email"],
  textarea {
    @apply outline-cm-gray-500 focus:outline-cm-green-600 w-full rounded-md px-2 py-2 outline focus:outline-2;
  }
}
